.button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;

    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;

    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button--tertiary {
    background: white;

    color: rgb(0, 204, 88);
}

.button--secondary {
    background: rgb(229, 229, 229);

    color: rgba(0, 0, 0, 0.4);
}

.button--primary {
    background: rgb(0, 204, 88);
    border: 0;

    color: black;
}

.button--primary:hover,
.button--primary:active,
.button--primary:focus {
    background: #6ada9f;
}
